---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?page=1&per_page=2&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1552994118'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"resource":"Search","field":"q","code":"missing"}],"documentation_url":"https://developer.github.com/v3/search"}'
  recorded_at: Tue, 19 Mar 2019 11:14:19 GMT
recorded_with: VCR 4.0.0
